
    <div class="top-navigation" style="margin-bottom:0px; float:none;">
        <nav role="navigation" id="site-nav" class="nav">
            <ul>
                
                    <li><a class="blacktrial" href="//aspiringminds.com">Aspiring Minds</a></li>
                    <li><a class="blacktrial" href="//myamcat.com">AMCAT</a></li>
                    <li><a class="blacktrial" href="http://research.aspiringminds.com">AM Research</a></li>
                    <li><a class="blacktrial" href="mailto:varun@aspiringminds.com">Contact Us</a></li>
                    
            
                
            </ul>
        </nav>
    </div><!-- /.top-navigation -->


<span class="blacktrial">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }} - Aspiring Minds. Powered by research at <a class="blacktrial" href="http://research.aspiringminds.com">AM Research</a>.</span>

