<p style="font-size:90%; font-style:italic; margin-bottom:7px; margin-top:7px; text-align:center;"> <b> Labour Market > <a href="{{ site.url }}/about" style="text-decoration:underline !important;"><b><i>Introduction </i></b></a>|<a href="{{ site.url }}/about" style="text-decoration:underline !important;"><b><i> Methodology</i></b></a>. </b> <br>
style="text-decoration:underline !important;"
Insights &#8482; on who gets a job in the labor market based on the unique AMCAT data set. Discover merit and biases.
<br>
