


<div class="navigation-wrapper" style="border-bottom: 1px solid; padding:0.5em 0 0em; background-color:black;">
	<div class="site-name" style="margin-top:6px;">
		<img align="left" style="display:inline; margin-right:10px;" height="20" widht="20" src="https://pbs.twimg.com/profile_images/1539659203/bulbsmall_400x400.PNG">
		<a class="blacktrial" href="{{ site.url }}/">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation" style="margin-bottom:0px;">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a class="blacktrial" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
				<!-- adding the input box to see how it looks -->
				<li style="color:white;"> Subscribe: <input type="text" id="id1" name="whatever"  style="margin-top:2px; width:100px; color:white;" /></li>
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->