<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}

<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
  
<!-- jQuery -->
<!-- <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

<script>
$('#tbl').DataTable({
    "pageLength" : 15,
  });
</script>


<!-- Magnific Popup core JS file -->
<script src="assets/js/plugins/jquery.magnific-popup.js"></script>

<script src="{{ site.url }}/assets/js/vendor/jquery.bxslider.min.js"></script>
<link href="{{ site.url }}/assets/css/jquery.bxslider.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery.slimscroll.min.js"></script>


<script>
$(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 150,
    minSlides: 2,
    maxSlides: 4,
    slideMargin: 10
  });
});
</script>

<script>
$(document).ready(function(){
  $('.slider2').bxSlider({
    slideWidth: 150,
    minSlides: 2,
    maxSlides: 4,
    slideMargin: 10
  });
});
</script>

<script>

// external js: isotope.pkgd.js


$( function() {
  // init Isotope
  var $grid = $('.grid').isotope({
    itemSelector: '.grid-item',
    layoutMode: 'fitRows',
    filter: '.Related'
  });
  // filter functions
  var filterFns = {
    // show if number is greater than 50
    numberGreaterThan50: function() {
      var number = $(this).find('.number').text();
      return parseInt( number, 10 ) > 50;
    },
    // show if name ends with -ium
    ium: function() {
      var name = $(this).find('.name').text();
      return name.match( /ium$/ );
    }
  };
  // bind filter button click
  $('.filters-button-group').on( 'click', 'button', function() {
    var filterValue = $( this ).attr('data-filter');
    // use filterFn if matches value
    filterValue = filterFns[ filterValue ] || filterValue;
    $grid.isotope({ filter: filterValue });
  });
  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  
}); 

// there is a click button called in the footer
</script> 

<script>

$(document).ready(function(){
  
  $(".is-checked").click();

});

</script>


<script>

function scrollToAnchor(aid){
    var aTag = $("a[name='"+ aid +"']");
    $('html,body').animate({scrollTop: aTag.offset().top},'slow');
}

$("#allinsights").click(function() {
   scrollToAnchor('insightgrid');
});


</script>




<script>

$(".front>a").click(function(){
    // alert("hmm");
    $(this).siblings("#imgtitle").toggle();
    $(this).siblings("#back").toggle();

    
});

$(".imgTitle>a").click(function(){
    // alert("hmm2");
    $(this).parent().toggle();
    $(this).parent().siblings("#back").toggle();

    
});

</script>

<script>

  $(document).ready(function() {
      $('#fullpage').fullpage({
        scrollOverflow: true,
        verticalCentered: false,

      });
  });

</script>
