
<b>Read <i>Insights</i> by:</b><br><br>
Outcomes:
{% for tag in site.data.tags %}
 {% if tag.type == 'output' %}
<a href="{{ site.url }}/{{ tag.name }}" class="author-social" target="_blank"><i class="fa fa-fw"></i>| {{ tag.name }}</a>
 {% endif %}
{% endfor %}


Inputs:
{% for tag in site.data.tags %}
  {% if tag.type == 'input' %}
  <a href="{{ sie.url }}/{{ tag.name }}" class="author-social" target="_blank"><i class="fa fa-fw"></i>| {{ tag.name }}</a>
  {% endif %}
{% endfor %}

<!--<a href="http://plus.google.com/+{{ author.google.plus }}" class="author-social" target="_blank"><i class="fa fa-fw"></i><b>Summary</b></a> -->
<!--<a href="http://plus.google.com/+{{ author.google.plus }}" class="author-social" target="_blank"><i class="fa fa-fw"></i><b>Methodology</b></a>-->
<br>
<b>Summary</b><br><br>
<b>Methodology</b><br>
<br>
<br>
<br>





