.blacktrial{
    color:white;
}

.blacktrial:hover {
    color:white;
    text-decoration: underline;
}


.blacktrial:visited {
    color:white;
}

.blacktrial:active {
    color:white;
    text-decoration: underline;
}

.activepage{
    text-decoration: underline;
}