.blacktrial{
    color:white;
    font-weight:100;
}

.blacktrial:hover {
    color:white;
    text-decoration: underline;
}


.blacktrial:visited {
    color:white;
}

.blacktrial:active {
    color:white;
    text-decoration: underline;
}

.activepage{
    text-decoration: none;
    color: crimson;
}

.whitetrial{
    color:black;
    font-weight:100;
}

.whitetrial:hover {
    color:black;
    text-decoration: underline;
}


.whitetrial:visited {
    color:black;
}

.whitetrial:active {
    color:black;
    text-decoration: underline;
}


